<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <div class="container header__container">
            <h2>Чингиз айтматов</h2>
            <!-- <nav class="header__nav">
                <ul class="header__menu">
                    <li class="header__menu-link"></li>
                    <li class="header__menu-link"></li>
                    <li class="header__menu-link"></li>
                </ul>
            </nav> -->
        </div>
    </header>
    <main>
        <section>
            <h2>Биография Чингиза Айтматова</h2>
            <img src="./156980533_0_21_512_309_600x0_80_0_0_33ddccc0c72530c848c530e2c27f3ce5.jpg.webp" alt="">
            <h3>В четверг, 12 декабря, исполняется 85 лет со дня рождения писателя Чингиза Айтматова.</h3>
            <p>Писатель, публицист и общественный деятель Чингиз Торекулович Айтматов родился 12 декабря 1928 года в кишлаке Шекер Киргизской АССР (ныне Таласская область Киргизии). Его отец Торекул Айтматов занимал посты второго секретаря ЦК Коммунистической партии Киргизской ССР, народного комиссара земледелия, впоследствии был арестован в Москве, этапирован в Бишкек и в 1938 году расстрелян. Мать Нагима Абдувалиева, дочь татарского купца I гильдии, была активистской женского движения Киргизии, в 1937 году объявлена женой "врага народа".</p>
            <p>Окончив восемь классов школы, в годы Великой Отечественной войны (1941–1945) Чингиз Айтматов работал секретарем сельского совета, учетчиком тракторной бригады.</p>
            <p>В 1948 году он с отличием окончил Джамбульский зоотехникум, в 1953 году — Сельскохозяйственный институт в городе Фрунзе (ныне Бишкек).</p>
            <p>В 1953–1956 годах работал старшим зоотехником Киргизского НИИ животноводства.</p>
            <p>В 1958 году Айтматов окончил Высшие литературные курсы в Москве.</p>
            <p>В печати он впервые выступил в 1952 году с рассказом на русском языке "Газетчик Дзюйдо".</p>
            <p>В 1958 году в журнале "Октябрь" был опубликован его рассказ "Лицом к лицу" (перевод с киргизского), затем его рассказы были напечатаны в журнале "Новый мир".</p>
            <p>В 1959–1965 годах Айтматов занимал должность главного редактора журнала "Литературный Кыргызстан", одновременно работал собкором газеты "Правда" по Киргизской ССР.</p>
            <img src="./157611859_0_0_3000_2099_600x0_80_0_0_35ccb1614a000b2a5601f0a5d82a1494.jpg.webp" alt="">
            <p>Мировую известность Айтматову принесла повесть "Джамиля" (1958), которая впервые была опубликована во Франции в переводе Луи Арагона.</p>
            <p>После "Джамили" были также опубликованы повести "Верблюжий глаз" (1960), "Первый учитель" (1961), "Материнское поле" (1963) и сборник "Повести гор и степей" (1963), за который автор получил Ленинскую премию. Произведения выходили одновременно на русском и киргизском языках.</p>
            <p>Повесть "Прощай, Гульсары!" (1968) принесла автору Государственную премию.</p>
            <p>В своих произведениях Айтматов выступал как мастер психологического портрета, его героями были духовно сильные, человечные, активные люди. Прозу писателя отличали искренность интонации и поэтичность в сочетании с психологической достоверностью образов простых людей. В повестях "Белый пароход" (1970), "Пегий пес, бегущий краем моря" (1977), в романе "И дольше века длится день" ("Буранный полустанок", 1980), "Плаха" (1986) он обращался к острым философским, этическим и социальным проблемам современности.</p>
            <p>В 1988–1990 годах Айтматов занимал пост главного редактора журнала "Иностранная литература".</p>
            <p>С 1990 по 1991 год — посол СССР в странах Бенилюкса (Бельгия, Нидерланды, Люксембург), в 1991–1994 годах — посол России в странах Бенилюкса.</p>
            <p>С 1994 года по март 2008 года являлся послом Киргизии во Франции, Бельгии, Люксембурге и Нидерландах.</p>
            <img src="./983399549_0_0_1280_720_600x0_80_0_0_8748d9bdc26867658ebb99450a98d33f.jpg.webp" alt="">
            <p>В постсоветское время были изданы за рубежом "Белое облако Чингиз Хана" (1992), "Тавро Кассандры" (1994), "Сказки" (1997), "Детство в Киргизии" (1998).</p>
            <p>В 2006 году был опубликован его последний роман "Когда падают горы" ("Вечная невеста"), немецкий перевод которого увидел свет в 2007 году под названием "Снежный барс".</p>
            <p>Айтматов вел большую общественную работу. В 1964–1986 годах был первым секретарем Союза кинематографистов Киргизии, в 1976–1990 годах был секретарем правления Союза писателей СССР, в 1986 году — первый секретарь правления Союза писателей Киргизии.</p>
            <p>Избирался депутатом Верховного Совета СССР (1966–1989), народным депутатом СССР (1989–1991).</p>
            <p>Книги Айтматова были переведены на более чем 176 языков мира, изданы в 128 странах.</p>
            <p>По произведениям писателя было снято свыше 20 фильмов. Первой картиной по Чингизу Айтматову стала кинолента "Перевал", снятая в 1961 году режиссером Алексеем Сахаровым. В 1965 году повесть "Первый учитель" была экранизирована режиссером Андреем Кончаловским на "Мосфильме", повесть "Верблюжий глаз" вошла в основу дебютного фильма Ларисы Шепитько "Зной" (1962) с Болотбеком Шамшиевым в главной роли, впоследствии ставшим одним из лучших режиссеров по постановке фильмов по произведениям Чингиза Айтматова: "Эхо любви" (1974), "Белый пароход" (1975), "Ранние журавли" (1979), "Восхождение на Фудзияму" (1988).</p>
            <img src="./156980416_0_0_0_0_1440x900_80_1_1_cebafe506446753a4e3a4938dee88972.jpg.webp" alt="">
            <p>В мае 2008 года в Казани во время съемок фильма по роману писателя "И дольше века длится день", 79-летний Айтматов был госпитализирован с тяжелой пневмонией. Его состояние осложнилось острой почечной недостаточностью. Для дальнейшего лечения писатель был перевезен в Германию.</p>
            <p>10 июня 2008 года Чингиз Айтматов скончался в клинике Нюрнберга. Писатель был похоронен на мемориальном кладбище "Ата-Бейит" в пригороде Бишкека, рядом с могилой своего отца.</p>
            <p>Творчество и общественная деятельность Чингиза Айтматова были отмечены многочисленными наградами. В 1978 году он был удостоен звания Героя Социалистического Труда. Лауреат Ленинской премии (1963), Государственных премий СССР (1968, 1977, 1983). Среди его государственных наград — два ордена Ленина, орден Октябрьской Революции, два ордена Трудового Красного Знамени, орден Дружбы народов и орден Дружбы. Он также был удостоен знака "Ак-Шумкар" Героя Киргизии, киргизского ордена "Манас" I степени, наград ряда иностранных государств.</p>
            <p>Среди кинематографических наград Айтматова — Большой приз Всесоюзного кинофестиваля (1976), почетный приз Берлинского кинофестиваля Berlinale Camera Award (1996).</p>
            <p>Имя писателя присвоено центральному скверу столицы Киргизии — Дубовому парку, где расположен "Вечный огонь" и памятник борцам революции 1917 года, а также Государственному национальному русскому театру драмы.</p>
            <p>В августе 2011 года на центральной площади Бишкека был установлен бронзовый памятник Чингизу Айтматову высотой 6,5 метра.</p>
            <p>Памятник Айтматову также был установлен в городе Чолпон-Ата Иссык-Кульской области Киргизии.</p>
            <p>14 ноября 2013 года в Бишкеке в комплексе "Ата-Бейит" был открыт мемориал писателю.</p>
            <p>В 2011 году в Лондоне была учреждена премия International Chingiz Aitmatov Award (ICAA), которая вручается за популяризацию и изучение наследия писателя и культур народов Средней Азии. Отбор кандидатов производился членами международного жюри, состоящего из семи ученых из Великобритании, Германии, России, Казахстана. Премию вручает основанная в Лондоне Академия Айтматова, созданная профессором Рахимой Абдувалиевой, которая работала вместе с писателем и занималась популяризацией его творчества в Германии на немецком языке.</p>
            <p>Чингиз Айтматов был дважды женат. Второй его супругой стала выпускница ВГИКа Мария Айтматова. У писателя четверо детей — сыновья Санжар, Аскар и Эльдар, дочь Ширин. Аскар занимал пост министра иностранных дел Киргизии в 2002–2005 годах. Ширин — депутат парламента Киргизии. Эльдар — президент Международного фонда Чингиза Айтматова.</p>
        </section>
    </main>
</body>
</html>